USERS_SVC_HOST=0.0.0.0
USERS_SVC_PORT=8080
USERS_SVC_METRICS_PORT=9090
USERS_SVC_LOG_LEVEL=debug
USERS_SVC_CORS_ORIGIN=*
USERS_SVC_POSTGRES_HOST=localhost
USERS_SVC_POSTGRES_PORT=5432
USERS_SVC_POSTGRES_USERNAME=postgres
USERS_SVC_POSTGRES_PASSWORD=postgres
USERS_SVC_POSTGRES_DATABASE=postgres
USERS_SVC_REDIS_URI=redis://localhost:6379/0
USERS_SVC_REDIS_PASSWORD=password
USERS_SVC_REDIS_CLUSTER_MODE=

USERS_SVC_POSTGRES_TEST_DATABASE=postgres_test
